/* APP THEME */
:where(html) {
  --mui-brand-100: #fffde7;
  --mui-brand-200: #fff59d;
  --mui-brand-300: #ffeb3b;
  --mui-brand-400: #ffd600;
  --mui-brand-500: #ffbb00;
  --mui-brand-600: #ffa500;
  --mui-brand-700: #ff9800;

  /* APP Background */
  background: var(--app-background);
}

::view-transition-old(body),
::view-transition-new(body) {
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

#app {
  display: grid;
  grid-template-rows: 1fr 7.6rem;
  min-height: 100vh;
}
@media (min-width: 960px) {
  #app {
    grid-template-rows: 1fr;
    grid-template-columns: 24rem 1fr;
  }
}

/* Light */
html[data-theme="light"] {
  --app-base: var(--mui-brand-300);
  --app-meta-theme-color: var(--app-base);
  --app-skeleton: var(--app-base);
  --app-background: var(--app-base);
  --nav-accent: var(--app-base);
  --nav-background: var(--grey-1000);
  --nav-background-toggle: var(--black-opacity-40);
  --nav-link-color: var(--white-opacity-50);
  --nav-group-color: var(--white-opacity-80);
  --nav-background-hover: var(--grey-900);
  --nav-background-focus: var(--grey-900);
  --app-home-logo: none;
  --app-story-card-background: var(--grey-100);
  --app-story-card-canvas: var(--white);
  --app-story-code-bg: var(--app-base);
  --app-story-code-text: var(--black);
  --app-story-banner-gradient-start: var(--black-opacity-10);
  --app-story-banner-gradient-end: var(--white-opacity-20);
  --app-story-banner-border-color: var(--black-opacity-40);
  --app-story-icon-grid-background: var(--white);
  --app-story-icon-grid-text: var(--grey-900);
  --app-story-icon-grid-text-inverted: var(--grey-100);
  --app-story-icon-grid-background-inverted: var(--grey-900);
}

/* Dark */
html[data-theme="dark"] {
  --app-base: var(--grey-1000);
  --app-meta-theme-color: var(--mui-brand-300);
  --app-skeleton: var(--mui-brand-300);
  --app-background: var(--grey-1000);
  --nav-accent: var(--mui-brand-300);
  --nav-background: var(--grey-1100);
  --nav-background-toggle: var(--black-opacity-60);
  --nav-link-color: var(--white-opacity-50);
  --nav-group-color: var(--white-opacity-80);
  --nav-background-hover: var(--grey-900);
  --nav-background-focus: var(--grey-900);
  --app-home-logo: invert(1);
  --app-story-card-background: var(--grey-900);
  --app-story-card-canvas: var(--grey-1000);
  --app-story-code-bg: var(--mui-brand-300);
  --app-story-code-text: var(--black);
  --app-story-banner-gradient-start: var(--white-opacity-10);
  --app-story-banner-gradient-end: var(--black-opacity-20);
  --app-story-banner-border-color: var(--white-opacity-20);
  --app-story-icon-grid-background: var(--black);
  --app-story-icon-grid-text: var(--grey-100);
  --app-story-icon-grid-text-inverted: var(--grey-900);
  --app-story-icon-grid-background-inverted: var(--grey-200);
}

html[data-brand="jal"][data-theme="light"] {
  --app-base: var(--jal-grey-200);
  --app-meta-theme-color: var(--app-base);
  --app-skeleton: var(--app-base);
  --app-background: var(--app-base);
  --nav-background-toggle: var(--grey-100);
  --nav-accent: var(--jal-red-600);
  --nav-background: var(--jal-white);
  --nav-link-color: var(--jal-red-600);
  --nav-group-color: var(--black-opacity-50);
  --nav-background-hover: var(--jal-grey-100);
  --nav-background-focus: var(--jal-grey-100);
  --app-story-code-bg: var(--jal-red-300);
  --app-story-code-text: var(--jal-white);
}

html[data-brand="jal"][data-theme="dark"] {
  --app-base: var(--jal-grey-900);
  --app-meta-theme-color: var(--app-base);
  --app-skeleton: var(--app-base);
  --app-background: var(--app-base);
  --nav-background-toggle: var(--grey-1100);
  --nav-accent: var(--jal-red-200);
  --nav-background: var(--jal-black);
  --nav-link-color: var(--jal-red-200);
  --nav-group-color: var(--white-opacity-80);
  --nav-background-hover: var(--jal-grey-1000);
  --nav-background-focus: var(--jal-grey-1000);
  --app-story-code-bg: var(--jal-red-300);
  --app-story-code-text: var(--jal-white);
  --app-story-card-background: var(--jal-black);
  --app-story-card-canvas: var(--jal-grey-900);
}

html[data-brand="plain"][data-theme="light"] {
  --app-base: var(--plain-black);
  --app-meta-theme-color: var(--app-base);
  --app-skeleton: var(--app-base);
  --app-background: var(--plain-grey-100);
  --nav-background-toggle: var(--grey-100);
  --nav-accent: var(--plain-black);
  --nav-background: var(--plain-white);
  --nav-link-color: var(--plain-black);
  --nav-background-hover: var(--plain-grey-100);
  --nav-background-focus: var(--plain-grey-200);
  --app-story-code-bg: var(--plain-grey-200);
  --app-story-code-text: var(--plain-black);
  --app-story-card-background: var(--plain-grey-100);
  --app-story-card-canvas: var(--plain-white);
  --nav-group-color: var(--black-opacity-80);
}

html[data-brand="plain"][data-theme="dark"] {
  --app-base: var(--plain-black);
  --app-meta-theme-color: var(--app-base);
  --app-skeleton: var(--app-base);
  --app-background: var(--plain-grey-900);
  --nav-background-toggle: var(--grey-1100);
  --nav-accent: var(--plain-white);
  --nav-background: var(--plain-black);
  --nav-link-color: var(--plain-white);
  --nav-background-hover: var(--plain-grey-800);
  --nav-background-focus: var(--plain-grey-800);
  --app-story-code-bg: var(--plain-white);
  --app-story-code-text: var(--plain-black);
  --app-story-card-background: var(--plain-grey-800);
  --app-story-card-canvas: var(--plain-grey-900);
  --nav-group-color: var(--white-opacity-50);
}
