:root {
  background: var(--mui-brand);
}

.home mui-navbar mui-container {
  height: 100%;
  min-height: calc(100% - 5.4rem);
}

@media (min-width: 961px) {
  .home mui-navbar mui-container {
    height: 100%;
    min-height: initial;
  }
}

.home mui-navbar .home-grid {
  display: grid;
  min-height: 100%;
}

.home main {
  display: grid;
  align-content: center;
  justify-content: center;
  margin-bottom: var(--spacing-000);
  gap: var(--spacing-800);
}

@media (min-height: 1100px) {
  .home main {
    gap: 100px;
  }
}

@media (min-height: 1200px) {
  .home main {
    gap: 200px;
  }
}

@media (min-width: 961px) {
  .home main {
    align-items: initial;
    justify-content: initial;
    column-gap: var(--spacing-200);
    row-gap: var(--spacing-400);
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr auto;
    padding: var(--spacing-000);
  }
}

@media (min-width: 1100px) {
  .home main {
    column-gap: var(--spacing-800);
    row-gap: var(--spacing-800);
  }
}

.mui-logo-wrapper {
  align-self: center;
  position: relative;
  margin: 0;
  display: flex;
  justify-content: center;
}

/* Grid */
.mui-logo {
  width: 60%;
}

@media (min-width: 640px) {
  .mui-logo {
    width: 100%;
  }
}

@media (min-width: 961px) {
  .mui-logo-wrapper {
    grid-column: 5 / 13;
  }
}

@media (min-width: 1400px) {
  .mui-logo-wrapper {
    grid-column: 6 / 12;
  }
}

/* .mui-actions {
  grid-column: 1 / 7;
} */
@media (min-width: 961px) {
  .mui-actions {
    grid-column: 1 / 5;
    grid-row: 2 / 4;
  }
}

@media (min-width: 1100px) {
  .mui-actions {
    grid-row: initial;
  }
}

/* .mui-introduction {
  grid-column: 1 / 7;
} */
@media (min-width: 961px) {
  .mui-introduction {
    grid-column: 5 / 13;
    grid-row: 2 / 3;
  }
}

@media (min-width: 1100px) {
  .mui-introduction {
    grid-column: 5 / 9;
    grid-row: initial;
  }
}

@media (min-width: 1400px) {
  .mui-introduction {
    grid-column: 6 / 9;
  }
}

/* .mui-technology {
  grid-column: 1 / 7;
} */
@media (min-width: 961px) {
  .mui-technology {
    grid-column: 5 / 13;
    grid-row: 3 / 4;
  }
}

@media (min-width: 1100px) {
  .mui-technology {
    grid-column: 9 / 13;
    grid-row: initial;
  }
}

@media (min-width: 1400px) {
  .mui-technology {
    grid-column: 9 / 12;
  }
}

/* .mui-rule {
  grid-column: 1 / 7;
} */
@media (min-width: 961px) {
  .mui-rule {
    grid-column: 1 / 13;
  }
}

.mui-logo,
.mui-introduction,
.mui-technology {
  margin-bottom: 0;
}

.mui-actions {
  width: auto;
  text-align: center;
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
}
@media (min-width: 961px) {
  .mui-actions {
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
  }
  .mui-actions__secondary {
    margin-top: var(--spacing-200);
    padding-left: var(--spacing-200);
  }
}

/* 
.mui-actions__secondary > mui-link:nth-of-type(1),
.mui-actions__secondary > mui-link:nth-of-type(2) {
  display: block;
} */
/* END - Grid */
