.home mui-navbar mui-container {
  display: grid;
  min-height: 100%;
}

.home main {
  display: grid;
  row-gap: 2.4rem;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr auto auto auto;
  margin-bottom: var(--spacing-clear);
}

@media (min-width: 500px) {
  .home main {
    column-gap: 2.4rem;
    row-gap: 9.6rem;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr auto;
  }
}

/* Grid */
.mui-logo-wrapper {
  grid-column: 2 / 6;
  align-self: center;
  position: relative;
  margin: 0;
}
.mui-logo {
  width: 100%;
}
@media (min-width: 500px) {
  .mui-logo-wrapper {
    grid-column: 6 / 13;
  }
}

.mui-logo__left-line {
  position: absolute;
}

.mui-logo__left-line {
  bottom: -11.8rem;
  left: -45rem;
  opacity: 0.6;
}

@media (min-width: 768px) {
  .mui-logo__left-line {
    bottom: -9.8rem;
    left: -38rem;
  }
}

@media (min-width: 850px) {
  .mui-logo__left-line {
    bottom: -8.8rem;
    left: -33rem;
  }
}

.mui-actions {
  grid-column: 1 / 7;
}
@media (min-width: 500px) {
  .mui-actions {
    grid-column: 1 / 6;
  }
}

.mui-introduction {
  grid-column: 1 / 7;
}
@media (min-width: 500px) {
  .mui-introduction {
    grid-column: 6 / 10;
  }
}

.mui-technology {
  grid-column: 1 / 7;
}
@media (min-width: 500px) {
  .mui-technology {
    grid-column: 10 / 13;
  }
}

.mui-rule {
  grid-column: 1 / 7;
}
@media (min-width: 500px) {
  .mui-rule {
    grid-column: 1 / 13;
  }
}

.mui-logo,
.mui-introduction,
.mui-technology {
  margin-bottom: 0;
}

.mui-actions {
  width: auto;
  text-align: center;
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
}
@media (min-width: 500px) {
  .mui-actions {
    width: block;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.mui-actions__secondary {
  margin-bottom: var(--spacing-clear);
  font-size: var(--font-size-text-tiny);
  margin-top: var(--spacing-small);
  padding-left: var(--spacing-tiny);
}

.mui-actions__secondary > mui-link:nth-of-type(1),
.mui-actions__secondary > mui-link:nth-of-type(2) {
  display: block;
}
/* END - Grid */

/* Enable outline */
.outline > * {
  outline: 1px solid skyblue;
}

/* Baseline Grid Overlay */
.mui-js-baselineSetup,
.mui-js-baselineSetup > body {
  height: 100vh;
}
.mui-js-baselineSetup > .mui-g-baseline,
.mui-js-baselineSetup > body > .mui-g-baseline {
  z-index: -1;
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  outline: none !important;
  margin-bottom: 0;
  height: auto;
  overflow: hidden;
}
@media (min-height: 828px) {
  .mui-js-baselineSetup > .mui-g-baseline,
  .mui-js-baselineSetup > body > .mui-g-baseline {
    height: 100vh;
  }
}
.mui-js-baselineSetup > .mui-g-baseline div,
.mui-js-baselineSetup > body > .mui-g-baseline div {
  width: calc(100% + 2px);
  transform: translate(-1px, 0);
  height: 1.2rem;
  outline: 2px solid #eaeaea;
  opacity: 0.3;
  outline-offset: -1px;
  margin-bottom: 1.2rem;
}
.mui-js-baselineSetup > .mui-g-baseline div:nth-last-of-type(9),
.mui-js-baselineSetup > body > .mui-g-baseline div:nth-last-of-type(9) {
  opacity: 0.28;
}
.mui-js-baselineSetup > .mui-g-baseline div:nth-last-of-type(8),
.mui-js-baselineSetup > body > .mui-g-baseline div:nth-last-of-type(8) {
  opacity: 0.24;
}
.mui-js-baselineSetup > .mui-g-baseline div:nth-last-of-type(7),
.mui-js-baselineSetup > body > .mui-g-baseline div:nth-last-of-type(7) {
  opacity: 0.2;
}
.mui-js-baselineSetup > .mui-g-baseline div:nth-last-of-type(6),
.mui-js-baselineSetup > body > .mui-g-baseline div:nth-last-of-type(6) {
  opacity: 0.18;
}
.mui-js-baselineSetup > .mui-g-baseline div:nth-last-of-type(5),
.mui-js-baselineSetup > body > .mui-g-baseline div:nth-last-of-type(5) {
  opacity: 0.14;
}
.mui-js-baselineSetup > .mui-g-baseline div:nth-last-of-type(4),
.mui-js-baselineSetup > body > .mui-g-baseline div:nth-last-of-type(4) {
  opacity: 0.1;
}
.mui-js-baselineSetup > .mui-g-baseline div:nth-last-of-type(3),
.mui-js-baselineSetup > body > .mui-g-baseline div:nth-last-of-type(3) {
  opacity: 0.08;
}
.mui-js-baselineSetup > .mui-g-baseline div:nth-last-of-type(2),
.mui-js-baselineSetup > body > .mui-g-baseline div:nth-last-of-type(2) {
  opacity: 0.04;
}
.mui-js-baselineSetup > .mui-g-baseline div:nth-last-of-type(1),
.mui-js-baselineSetup > body > .mui-g-baseline div:nth-last-of-type(1) {
  opacity: 0;
}
