:root {
  background: var(--mui-brand);
}

::view-transition-old(body),
::view-transition-new(body) {
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

#app {
  display: grid;
  grid-template-rows: 1fr 7.6rem;
  min-height: 100vh;
}
@media (min-width: 960px) {
  #app {
    grid-template-rows: 1fr;
    grid-template-columns: 24rem 1fr;
  }
}
