:root {
  /* Base Tokens
=======================================================================================*/

  /* Raw, foundational value (no context) */

  /* These tokens provide the foundational values for design properties. */
  /* They are raw values without contextual meaning, intended to be reused by semantic and component tokens. */
  /* Organized by category: typography, palette, spacing, radius, border, and line height. */

  /* Type Scale Reminder */
  /* 6px, 7px, 8px, 9px, 10px, 11px, 12px, 14px, 16px, 18px, 21px, 24px, 36px, 48px, 60px, 72px, 84px, 96px, 108, 120, 132, 144, 156, 168, 180, 192 */

  /* Typography */
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --font-size-25: 1.2rem;
  --font-size-50: 1.4rem;
  --font-size-100: 1.6rem;
  --font-size-200: 1.8rem;
  --font-size-300: 2.1rem;
  --font-size-400: 2.4rem;
  --font-size-500: 3.6rem;
  --font-size-600: 4.8rem;
  --font-size-700: 6rem;
  --font-size-800: 7.2rem;
  --font-size-900: 8.4rem;
  --font-size-1000: 9.6rem;

  /* Palette */

  /* Base colors */
  --black: black;
  --white: #ffffff;

  /* Opacity variants */
  --black-opacity-0: hsla(0, 0%, 0%, 0);
  --black-opacity-10: hsla(0, 0%, 0%, 0.1);
  --black-opacity-20: hsla(0, 0%, 0%, 0.2);
  --black-opacity-30: hsla(0, 0%, 0%, 0.3);
  --black-opacity-40: hsla(0, 0%, 0%, 0.4);
  --black-opacity-50: hsla(0, 0%, 0%, 0.5);
  --black-opacity-60: hsla(0, 0%, 0%, 0.6);
  --black-opacity-70: hsla(0, 0%, 0%, 0.7);
  --black-opacity-80: hsla(0, 0%, 0%, 0.8);
  --black-opacity-90: hsla(0, 0%, 0%, 0.9);
  --black-opacity-100: hsla(0, 0%, 0%, 1);

  --white-opacity-0: hsla(0, 0%, 100%, 0);
  --white-opacity-10: hsla(0, 0%, 100%, 0.1);
  --white-opacity-20: hsla(0, 0%, 100%, 0.2);
  --white-opacity-30: hsla(0, 0%, 100%, 0.3);
  --white-opacity-40: hsla(0, 0%, 100%, 0.4);
  --white-opacity-50: hsla(0, 0%, 100%, 0.5);
  --white-opacity-60: hsla(0, 0%, 100%, 0.6);
  --white-opacity-70: hsla(0, 0%, 100%, 0.7);
  --white-opacity-80: hsla(0, 0%, 100%, 0.8);
  --white-opacity-90: hsla(0, 0%, 100%, 0.9);
  --white-opacity-100: hsla(0, 0%, 100%, 1);

  /* Grey scale */
  --grey-100: #f5f5f5;
  --grey-200: #e5e5e5;
  --grey-300: #ccc;
  --grey-400: #aaa;
  --grey-500: #888;
  --grey-600: #666;
  --grey-700: #555;
  --grey-800: #444;
  --grey-900: #333;
  --grey-1000: #222;

  /* Red scale */
  --red-100: #ffe5e5;
  --red-200: #fbbcbc;
  --red-300: #f79494;
  --red-400: #f36b6b;
  --red-500: #f74e4e;
  --red-600: #e04343;
  --red-700: #c23c3c;
  --red-800: #a43535;
  --red-900: #862e2e;

  /* Orange scale */
  --orange-100: #fff2cc;
  --orange-200: #ffe0a3;
  --orange-300: #ffcc80;
  --orange-400: #ffb84d;
  --orange-500: #ffa500;
  --orange-600: #e59400;
  --orange-700: #cc8300;
  --orange-800: #b37300;
  --orange-900: #996200;

  /* Green scale */
  --green-100: #e5f9e5;
  --green-200: #c6f3c6;
  --green-300: #a6eda6;
  --green-400: #86e786;
  --green-500: #00bd00;
  --green-600: #00a800;
  --green-700: #009400;
  --green-800: #007f00;
  --green-900: #006b00;

  /* Blue scale */
  --blue-100: #e6f2ff;
  --blue-200: #cce4ff;
  --blue-300: #99caff;
  --blue-400: #85bffb;
  --blue-500: #62b7fb;
  --blue-600: #4da6f3;
  --blue-700: #3396eb;
  --blue-800: #1a86e3;
  --blue-900: #0076db;

  /* Radius */
  --radius-000: 0;
  --radius-100: 4px;
  --radius-150: 6px;
  --radius-200: 8px;
  --radius-300: 16px;
  --radius-400: 24px;

  /* Spacing */
  --spacing-000: 0;
  --spacing-050: 0.4rem;
  --spacing-100: 0.6rem;
  --spacing-200: 0.8rem;
  --spacing-300: 1.2rem;
  --spacing-400: 1.6rem;
  --spacing-500: 2.4rem;
  --spacing-600: 3.6rem;
  --spacing-700: 4.8rem;
  --spacing-800: 6rem;

  /* Stroke */
  --stroke-size-100: 1px;
  --stroke-size-200: 2px;
  --stroke-size-300: 3px;
  --stroke-size-500: 5px;

  --stroke-style-solid: solid;
  --stroke-style-outset: outset;

  /* Line-height */
  --line-height-100: 1;
  --line-height-200: 1.25;
  --line-height-300: 1.5;

  /* Semantic Tokens - Expresses meaning or state
=======================================================================================*/

  /* TOKEN STRUCTURE */
  /* Token Example: --primary-background */
  /* Token Key: [identifier (Optional)]-[variant]-[property-name]-[state] */

  /* These tokens represent semantic values intended to support theme toggling. */
  /* For example: --primary-background may have different values in Light and Dark modes. */
  /* Note: Theme switching is handled by additional tooling not shown here. The tokens below do not include theming logic. */

  --success-color: var(--green-500);
  --info-color: var(--blue-500);
  --warning-color: var(--orange-500);
  --error-color: var(--red-500);

  --interactive-primary-stroke: var(--black-opacity-0);
  --interactive-primary-bg: var(--grey-900);
  --interactive-primary-bg-hover: var(--grey-1000);
  --interactive-primary-bg-focus: var(--grey-1000);
  --interactive-primary-bg-disabled: var(--grey-200);
  --interactive-primary-text: var(--white);
  --interactive-primary-text-hover: var(--white);
  --interactive-primary-text-focus: var(--white);
  --interactive-primary-text-disabled: var(--grey-400);

  --interactive-secondary-stroke: var(--grey-800);
  --interactive-secondary-bg: var(--white);
  --interactive-secondary-bg-hover: var(--grey-100);
  --interactive-secondary-bg-focus: var(--grey-100);
  --interactive-secondary-bg-disabled: var(--grey-100);
  --interactive-secondary-text: var(--grey-900);
  --interactive-secondary-text-hover: var(--grey-900);
  --interactive-secondary-text-focus: var(--grey-900);
  --interactive-secondary-text-disabled: var(--grey-400);

  --interactive-warning-stroke: var(--black-opacity-0);
  --interactive-warning-bg: var(--red-500);
  --interactive-warning-bg-hover: var(--red-600);
  --interactive-warning-bg-focus: var(--red-600);
  --interactive-warning-bg-disabled: var(--red-100);
  --interactive-warning-text: var(--white);
  --interactive-warning-text-hover: var(--white);
  --interactive-warning-text-focus: var(--white);
  --interactive-warning-text-disabled: var(--red-300);

  --interactive-radius: var(--radius-100);

  /* Contextual tokens - Applies a primitive to a specific use
  =======================================================================================*/

  /* TOKEN STRUCTURE */
  /* Token Example: --stroke-color-focus */
  /* Token Key: [context]-[property-name]-[state] */

  /* These tokens represent contextual values intended to support theme toggling. */
  /* For example: --stroke-color-focus may have different values in Light and Dark modes. */
  /* Note: Theme switching is handled by additional tooling not shown here. The tokens below do not include theming logic. */

  /* Stroke (Borders & Outlines) */
  --stroke-color-default: var(--grey-200);
  --stroke-color-focus: var(--blue-500);
  --stroke-color-warning: var(--orange-500);
  --stroke-color-error: var(--red-600);

  --summary-background: var(--white);
  --mark-background: var(--grey-900);
  --legend-background: var(--white);
  --mark-text-color: var(--white);
  --selection-text-color: var(--white);

  /* Border */
  --border-thin: var(--stroke-size-100) var(--stroke-style-solid)
    var(--stroke-color-default);
  --border-thick: var(--stroke-size-200) var(--stroke-style-solid)
    var(--stroke-color-default);

  /* Outline */
  --outline-thin: var(--stroke-size-100) var(--stroke-style-outset)
    var(--stroke-color-focus);
  --outline-medium: var(--stroke-size-300) var(--stroke-style-outset)
    var(--stroke-color-focus);
  --outline-thick: var(--stroke-size-500) var(--stroke-style-outset)
    var(--stroke-color-focus);

  /* Component tokens - Tied to specific UI components
  =======================================================================================*/

  /* TOKEN STRUCTURE */
  /* Token Example: --button-background-primary */
  /* Token Key: [component]-[property-name]-[variant]-[state] */

  /* USING THE TOKEN */
  /* Using the property name helps indicate what CSS property the token is mapped to. */
  /* CSS Usage Example: background: var(--button-background-primary); */

  /* Icon */
  --icon-color-default: var(--black);
  --icon-color-inverted: var(--white);

  /* Card */
  --card-radius: var(--radius-150);

  /* Badge */
  --badge-radius: var(--radius-100);

  /* Heading */
  --heading-line-height: var(--line-height-200);

  /* Body */
  --body-line-height: var(--line-height-300);
  --body-text-color: var(--grey-900);
  --body-font-size-xs: var(--font-size-25);
  --body-font-size-s: var(--font-size-50);
  --body-font-size-m: var(--font-size-100);
  --body-font-size-l: var(--font-size-200);

  /* Code */
  --code-text-color: var(--white);
  --code-font-size-xs: var(--font-size-25);
  --code-font-size-s: var(--font-size-50);
  --code-font-size-m: var(--font-size-100);
  --code-font-size-l: var(--font-size-200);
  --code-background: var(--grey-900);

  /* Table */
  --table-background: var(--white);

  /* Alert */
  --alert-radius: var(--radius-100);
  --alert-border-success: var(--stroke-size-200) var(--stroke-style-solid)
    var(--success-color);
  --alert-border-info: var(--stroke-size-200) var(--stroke-style-solid)
    var(--info-color);
  --alert-border-warning: var(--stroke-size-200) var(--stroke-style-solid)
    var(--warning-color);
  --alert-border-error: var(--stroke-size-200) var(--stroke-style-solid)
    var(--error-color);

  --alert-background-success: color-mix(
    in srgb,
    var(--success-color) 10%,
    var(--white) 0%
  );
  --alert-background-info: color-mix(
    in srgb,
    var(--info-color) 10%,
    var(--white) 0%
  );
  --alert-background-warning: color-mix(
    in srgb,
    var(--warning-color) 10%,
    var(--white) 0%
  );
  --alert-background-error: color-mix(
    in srgb,
    var(--error-color) 10%,
    var(--white) 0%
  );

  /* Button */
  --button-radius: var(--interactive-radius);
  --button-font-size: var(--font-size-100);

  --button-background-primary: var(--interactive-primary-bg);
  --button-background-primary-hover: var(--interactive-primary-bg-hover);
  --button-background-primary-focus: var(--interactive-primary-bg-focus);
  --button-background-primary-disabled: var(--interactive-primary-bg-disabled);

  --button-border-primary: var(--stroke-size-200) var(--stroke-style-solid)
    var(--interactive-primary-stroke);

  --button-background-secondary: var(--interactive-secondary-bg);
  --button-background-secondary-hover: var(--interactive-secondary-bg-hover);
  --button-background-secondary-focus: var(--interactive-secondary-bg-focus);
  --button-background-secondary-disabled: var(
    --interactive-secondary-bg-disabled
  );

  --button-border-secondary: var(--stroke-size-200) var(--stroke-style-solid)
    var(--interactive-secondary-stroke);

  --button-background-warning: var(--interactive-warning-bg);
  --button-background-warning-hover: var(--interactive-warning-bg-hover);
  --button-background-warning-focus: var(--interactive-warning-bg-focus);
  --button-background-warning-disabled: var(--interactive-warning-bg-disabled);

  --button-border-warning: var(--stroke-size-200) var(--stroke-style-solid)
    var(--interactive-warning-stroke);

  --button-text-color-primary: var(--interactive-primary-text);
  --button-text-color-primary-hover: var(--interactive-primary-text-hover);
  --button-text-color-primary-focus: var(--interactive-primary-text-focus);
  --button-text-color-primary-disabled: var(
    --interactive-primary-text-disabled
  );

  --button-text-color-secondary: var(--interactive-secondary-text);
  --button-text-color-secondary-hover: var(--interactive-secondary-text-hover);
  --button-text-color-secondary-focus: var(--interactive-secondary-text-focus);
  --button-text-color-secondary-disabled: var(
    --interactive-secondary-text-disabled
  );

  --button-text-color-warning: var(--interactive-warning-text);
  --button-text-color-warning-hover: var(--interactive-warning-text-hover);
  --button-text-color-warning-focus: var(--interactive-warning-text-focus);
  --button-text-color-warning-disabled: var(
    --interactive-warning-text-disabled
  );

  --button-border-icon-only: var(--stroke-size-200) var(--stroke-style-solid)
    var(--stroke-color-button-icon-only);

  /* Link */
  --link-font-size: var(--font-size-100);

  --link-text-color-default: var(--grey-900);
  --link-text-color-default-hover: var(--grey-1000);
  --link-text-color-default-focus: var(--grey-1000);
  --link-text-color-default-disabled: var(--grey-800);

  --link-background-primary: var(--interactive-primary-bg);
  --link-background-primary-hover: var(--interactive-primary-bg-hover);
  --link-background-primary-focus: var(--interactive-primary-bg-focus);
  --link-background-primary-disabled: var(--interactive-primary-bg-disabled);

  --link-border-primary: var(--stroke-size-200) var(--stroke-style-solid)
    var(--interactive-primary-stroke);

  --link-background-secondary: var(--interactive-secondary-bg);
  --link-background-secondary-hover: var(--interactive-secondary-bg-hover);
  --link-background-secondary-focus: var(--interactive-secondary-bg-focus);
  --link-background-secondary-disabled: var(
    --interactive-secondary-bg-disabled
  );

  --link-border-secondary: var(--stroke-size-200) var(--stroke-style-solid)
    var(--interactive-secondary-stroke);

  --link-background-warning: var(--interactive-warning-bg);
  --link-background-warning-hover: var(--interactive-warning-bg-hover);
  --link-background-warning-focus: var(--interactive-warning-bg-focus);
  --link-background-warning-disabled: var(--interactive-warning-bg-disabled);

  --link-border-warning: var(--stroke-size-200) var(--stroke-style-solid)
    var(--interactive-warning-stroke);

  --link-text-color-primary: var(--interactive-primary-text);
  --link-text-color-primary-hover: var(--interactive-primary-text-hover);
  --link-text-color-primary-focus: var(--interactive-primary-text-focus);
  --link-text-color-primary-disabled: var(--interactive-primary-text-disabled);

  --link-text-color-secondary: var(--interactive-secondary-text);
  --link-text-color-secondary-hover: var(--interactive-secondary-text-hover);
  --link-text-color-secondary-focus: var(--interactive-secondary-text-focus);
  --link-text-color-secondary-disabled: var(
    --interactive-secondary-text-disabled
  );

  --link-text-color-warning: var(--interactive-warning-text);
  --link-text-color-warning-hover: var(--interactive-warning-text-hover);
  --link-text-color-warning-focus: var(--interactive-warning-text-focus);
  --link-text-color-warning-disabled: var(--interactive-warning-text-disabled);

  --link-radius: var(--interactive-radius);

  /* Specific tokens
  =======================================================================================*/
  --mui-brand: #ffeb3b;
}
