:root {
  font-size: var(--root-font-size);
  line-height: var(--body-line-height);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: kern 1, liga 1;
  -moz-font-feature-settings: kern=1, liga=1;
  -moz-font-feature-settings: kern on, liga on;
  -ms-font-feature-settings: kern 1, liga 1;
  -o-font-feature-settings: kern, liga;
  font-feature-settings: kern, liga;
  font-family: var(--font-family);
  background: var(--white);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  color: var(--body-color);
}

:root {
  --root-font-size: 62.5%;
}

body {
  margin: var(--spacing-0);
  font-size: var(--body-font-size-m);
  min-height: 100vh;
}

button,
input,
optgroup,
select,
textarea {
  font-family: var(--font-family);
  font-size: var(--body-font-size-m);
  line-height: var(--body-line-height);
}
input,
optgroup,
select,
textarea {
  margin: var(--spacing-0);
}

:focus-visible,
button:focus-visible,
input:focus-visible,
textarea:focus-visible,
select:focus-visible,
summary:focus-visible {
  outline: var(--border-thick-ridge);
}

img {
  border-style: none;
  -ms-interpolation-mode: bicubic;
}
progress {
  vertical-align: baseline;
}
summary {
  display: list-item;
}
template,
[hidden],
audio:not([controls]) {
  display: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
li,
small,
header,
table,
figure,
footer,
details,
menu,
pre,
section,
article,
dl,
menu,
aside,
div,
fieldset,
textarea,
keygen,
select,
input {
  width: 100%;
}
audio,
canvas,
mark,
video {
  display: inline-block;
}
img,
legend {
  border: var(--spacing-0);
}
body,
figure,
form {
  margin: var(--spacing-0);
}
audio,
canvas,
img,
video {
  vertical-align: middle;
}
audio:not([controls]) {
  height: var(--spacing-0);
}

dfn {
  font-style: italic;
}
mark {
  background: var(--mark-background);
  color: var(--mark-color);
}
q {
  quotes: none;
}
q:after,
q:before {
  content: "";
  content: none;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
dd {
  margin: 0;
}
svg:not(:root) {
  overflow: hidden;
}
*,
:before,
:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
::-moz-selection,
::selection {
  background: var(--grey-900);
  color: var(--selection-color);
  text-shadow: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
[type="checkbox"],
[type="radio"],
legend {
  padding: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
}
em {
  font-style: italic;
}
b,
strong {
  font-weight: 700;
}
input,
textarea {
  -webkit-appearance: none;
}
input[type="radio"] {
  -webkit-appearance: radio;
}
input[type="checkbox"] {
  -webkit-appearance: checkbox;
}
input[type="button"],
input[type="submit"],
input[type="reset"],
button {
  display: inline-block;
  cursor: pointer;
  width: auto;
}
button,
input,
optgroup,
select,
textarea {
  vertical-align: baseline;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
label {
  display: block;
}
textarea {
  resize: vertical;
  overflow: auto;
  vertical-align: top;
}
legend {
  font-weight: 700;
}
input[type="checkbox"],
input[type="radio"] {
  width: auto;
}
