/*  Type Scale
=======================================================================================*/
/* 6px, 7px, 8px, 9px, 10px, 11px, 12px, 14px, 16px, 18px, 21px, 24px, 36px, 48px, 60px, 72px, 84px, 96px, 108, 120, 132, 144, 156, 168, 180, 192 */

:root {
  /* Typography tokens */
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --font-size-25: 1.2rem; /* Smallest */
  --font-size-50: 1.4rem; /* Smaller than Tiny */
  --font-size-100: 1.6rem; /* Tiny */
  --font-size-200: 1.8rem; /* X-Small */
  --font-size-300: 2.1rem; /* Small */
  --font-size-400: 2.4rem; /* Medium */
  --font-size-500: 3.6rem; /* Large */
  --font-size-600: 4.8rem; /* X-Large */
  --font-size-700: 6rem; /* XX-Large */
  --font-size-800: 7.2rem; /* XXX-Large */
  --font-size-900: 8.4rem; /* XXXX-Large */
  --font-size-1000: 9.6rem; /* XXXXX-Large */

  /* Palette tokens */
  --black: black;
  --white: #ffffff;
  --black-opacity-50: hsla(0, 0%, 0%, 0.5);
  --white-opacity-50: hsla(0, 0%, 100%, 0.5);
  --grey-900: #333;
  --grey-800: #444;
  --grey-700: #555;
  --grey-200: #e5e5e5;
  --red-500: #f74e4e;
  --orange-500: #ffa500;
  --green-500: #00bd00;
  --blue-500: #0000ff;

  /* Radius */
  --radius-0: 0;
  --radius-100: 4px; /* Tiny */
  --radius-150: 6px; /* Small */
  --radius-200: 8px; /* Small */
  --radius-300: 16px; /* Medium */
  --radius-400: 24px; /* Large */

  /* Spacing */
  --spacing-0: 0; /* Clear */
  --spacing-50: 0.4rem; /* XX-Tiny */
  --spacing-100: 0.6rem; /* X-Tiny */
  --spacing-200: 0.8rem; /* Tiny */
  --spacing-300: 1.2rem; /* X-Small */
  --spacing-400: 1.6rem; /* Small */
  --spacing-500: 2.4rem; /* Medium */
  --spacing-600: 3.6rem; /* X-Medium */
  --spacing-700: 4.8rem; /* Large */
  --spacing-800: 6rem; /* X-Large */

  /* Border */
  --border-thin: 1px solid rgba(0, 0, 0, 0.1);
  --border-thick: 2px solid rgba(0, 0, 0, 0.1);
  --border-thin-ridge: thin ridge var(--grey-900);
  --border-thick-ridge: thick ridge var(--grey-900);

  /* Line-height */
  --line-height-100: 1;
  --line-height-200: 1.25;
  --line-height-300: 1.5;

  /* Semantic tokens (color.text.primary)
  =======================================================================================*/

  /* EBAY use this layer as their toggle for theme */
  /* --color-background-primary: {Light & Dark} */
  --info: var(--blue-500);
  --success: var(--green-500);
  --warning: var(--orange-500);
  --attention: var(--red-500);

  /* Line-height */
  --line-height-reset: var(--line-height-100);
  --line-height-heading: var(--line-height-200);
  --line-height-body: var(--line-height-300);

  /* Contextual tokens (card.radius)
  =======================================================================================*/

  /* Radius */
  --card-radius: var(--radius-150);
  --alert-radius: var(--radius-100);
  --button-radius: var(--radius-100);
  --badge-radius: var(--radius-100);

  /* Alert */
  --alert-border-info: 2px solid var(--info);
  --alert-border-success: 2px solid var(--success);
  --alert-border-warning: 2px solid var(--warning);
  --alert-border-error: 2px solid var(--attention);

  /* Typography */
  --body-font-size-xs: var(var(--font-size-25));
  --body-font-size-s: var(--font-size-50);
  --body-font-size-m: var(--font-size-100);
  --body-font-size-l: var(--font-size-200);
  --link-font-size: var(--font-size-100);
  --button-font-size: var(--font-size-100);

  --selection-color: var(--white);
  --body-color: var(--grey-900);

  /* Link object */
  --link-color: var(--grey-900);
  --link-color-reverse: var(--white);

  /* Element object */
  --icon-color-reverse: var(--white);

  /* Code element */
  --code-color: var(--white);
  --code-background: var(--grey-900);

  /* Button object */
  --button-foreground-primary: var(--white);
  --button-foreground-secondary: var(--grey-900);
  --button-foreground-warning: var(--white);

  --button-background-primary: var(--grey-900);
  --button-background-secondary: var(--white);
  --button-background-warning: var(--attention);

  /* Summary object */
  --summary-background: var(--white);

  /* Mark object */
  --mark-background: var(--grey-900);
  --mark-color: var(--white);

  /* Table object */
  --table-background: var(--white);

  /* Legend object */
  --legend-background: var(--white);

  /* Specific tokens
  =======================================================================================*/
  --required-css: salmon;
  --web-components: skyblue;
}
