body {
  margin: var(--space-000);
  font-size: var(--body-font-size-m);
  min-height: 100vh;
}

.skeleton {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 240px 1fr;
  height: 100vh;
  position: absolute;
  background: var(--mui-brand);
  z-index: 10000;
}

@media (max-width: 960px) {
  .skeleton {
    display: grid;
    grid-template-rows: 1fr 7.6rem;
    grid-template-columns: 1fr;
    height: 100vh;
    position: absolute;
  }
}

.skeleton > div:first-child {
  background: #191919;
  animation: pulse 2s infinite ease-in-out;
}
.skeleton > div:last-child {
  background: transparent;
  animation: pulse 2s infinite ease-in-out;
}

@media (max-width: 960px) {
  .skeleton > div:first-child {
    background: transparent;
  }
  .skeleton > div:last-child {
    background: #191919;
  }
}

/* Pulse animation */
@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
}
