.skeleton {
  display: flex;
  height: 100vh;
  position: fixed;
  opacity: 100%;
  z-index: 10000;
  background: var(--app-skeleton);
  left: 0;
  top: 0;
  flex-direction: column;
}

@media (min-width: 960px) {
  .skeleton {
    flex-direction: row;
  }
}
