body,
main
  height: 100%


main.wrapper--fluid
  @include cf
  width: calc( 100% - 6em )
  padding: 3em 0


.headingGroup
  @include cf
  @include floatLeft
  width: auto
  z-index: 100000000000
  position: relative
  font-family: 'Chivo', sans-serif
  h1, p
    @include noMargin
  .comingSoon
    @include noMargin
    position: relative
    p
      font-weight: 400
      color: #888
      text-shadow: 0 0 5px rgba(white, 1)
    &:after
      content: ""
      height: 2px
      width: calc(100% - ((175 / 16) * 1em))
      position: absolute
      top: calc(50% - 1px)
      right: 0
      background: #888
    
  


.lg-type
  font-size: 40em
  position: fixed
  bottom: calc(0% - 110px)
  right: calc(0% - 50px)
  width: auto
  margin-bottom: 0
  line-height: 1
  font-family: 'Chivo', sans-serif
