<!doctype html>
<html class="no-js mui-js-baselineSetup" lang="" data-grid-count="30">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        <link rel="stylesheet" href="../css/main.css">
        <script src="../js/modernizr.js"></script>
        <link rel="stylesheet" href="../css/monokai-sublime.css">
        <script src="../js/highlight.pack.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="mui-c-browserUpgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!-- Menu -->
        <nav class="mui-mfn-nav mui-mainHead" role='navigation'>
          <ul class="nmb">
            <li><a href="../index.html">michaeltrilford.mui</a></li>

            <li class="mui-subHead">Guides</li>
            <li><a href="../guides/baseline-grid.html">Baseline</a></li>

            <li class="mui-subHead">Objects</li>
            <li><a href="../objects/static-icons.html">Static Icons</a></li>
            <li><a href="../objects/transformicons.html">Transformicons</a></li>

            <li class="mui-subHead">Tokens</li>
            <li><a href="../tokens/variables.html">Variables</a></li>
            <li><a href="../tokens/mixins.html">Mixins</a></li>
            <li><a href="../tokens/floats.html">Floats</a></li>
            <li><a href="../tokens/typography.html">Headings</a></li>

            <li class="mui-subHead">Base</li>
            <li><a href="../base/resets.html">Resets</a></li>
            <li><a href="../base/baseline-grid.html">Baseline</a></li>
            <li><a href="../base/typography.html">Typography</a></li>
            <li><a href="../base/formalize.html">Formalize</a></li>
            <li><a href="../base/lists.html">Lists</a></li>
            <li><a href="../base/images.html">Images</a></li>
            <li><a href="../base/accordion.html">Accordion</a></li>
            <li><a href="../base/table.html">Table</a></li>

            <li class="mui-subHead">Layout</li>
            <li><a href="../layout/columns.html">Columns</a></li>
            <li><a href="../layout/css-grid.html" class="mui-mfn-active">CSS Grid</a></li>
            <li><a href="../layout/wrapper.html">Wrappers</a></li>

            <li class="mui-subHead">Components</li>
            <li><a href="../components/accordion.html">Accordion</a></li>
            <li><a href="../components/buttons.html">Buttons</a></li>
            <li><a href="../components/browser-upgrade.html">Browser Upgrade</a></li>
            <li><a href="../components/navigation.html">Navigation</a></li>
          </ul>
        </nav>

        <!-- Navigation Bar -->
        <aside class="mui-mfn-navigation-bar nmb">
          <a id="mui-mfn-menu-toggle" class="bounceIn mui-mfn-menu-toggle tIcons" href="#" aria-hidden="true">
            <!-- Menu Icon -->
            <svg viewBox="0 0 36 30">
              <rect width="36" height="6" />
              <rect y="24" width="36" height="6" />
              <rect y="12" width="36" height="6" />
            </svg>
            <!-- Close Icon -->
            <svg viewBox="0 0 36 30">
              <polygon points="32.8,4.4 28.6,0.2 18,10.8 7.4,0.2 3.2,4.4 13.8,15 3.2,25.6 7.4,29.8 18,19.2 28.6,29.8 32.8,25.6 22.2,15 " />
            </svg>
          </a>
          <div class="bounceIn mui-mfn-website-name nmb">michaeltrilford.mui</div>
        </aside>

        <main class="mui-mfn-offset-wrapper">


          <article class="mui-l-wrapper">

            <div class="header mt-24 mb-48">
              <h1 class="large">CSS Grid</h1>
              <hr>
            </div>

            <section class="mb-72">
              <h3>1 Column</h3>
              <div class="card">
                <section class="mui-l-grid mui-l-grid--col-1">
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">1</div>
                </section>
              </div>
              <pre class="highlight-code">
                <code class="html">
    &lt;div class="mui-l-grid mui-l-grid--col-1"&gt;
      &lt;div&gt;...&lt;/div&gt;
    &lt;/div&gt;
                </code>
              </pre>
            </section>

            <section class="mb-72">
              <h3>2 Column</h3>
              <div class="card">
                <section class="mui-l-grid mui-l-grid--col-2">
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">1</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">2</div>
                </section>
              </div>
              <pre class="highlight-code">
                <code class="html">
    &lt;div class="mui-l-grid mui-l-grid--col-2"&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
    &lt;/div&gt;
                </code>
              </pre>
            </section>

            <section class="mb-72">
              <h3>3 Column</h3>
              <div class="card">
                <section class="mui-l-grid mui-l-grid--col-3">
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">1</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">2</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">3</div>
                </section>
              </div>
              <pre class="highlight-code">
                <code class="html">
    &lt;div class="mui-l-grid mui-l-grid--col-3"&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
    &lt;/div&gt;
                </code>
              </pre>
            </section>

            <section class="mb-72">
              <h3>4 Column</h3>
              <div class="card">
                <section class="mui-l-grid mui-l-grid--col-4">
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">1</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">2</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">3</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">4</div>
                </section>
              </div>
              <pre class="highlight-code">
                <code class="html">
    &lt;div class="mui-l-grid mui-l-grid--col-4"&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
    &lt;/div&gt;
                </code>
              </pre>
            </section>

            <section class="mb-72">
              <h3>5 Column</h3>
              <div class="card">
                <section class="mui-l-grid mui-l-grid--col-5">
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">1</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">2</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">3</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">4</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">5</div>
                </section>
              </div>
              <pre class="highlight-code">
                <code class="html">
    &lt;div class="mui-l-grid mui-l-grid--col-5"&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
    &lt;/div&gt;
                </code>
              </pre>
            </section>

            <section class="mb-72">
              <h3>6 Column</h3>
              <div class="card">
                <section class="mui-l-grid mui-l-grid--col-6">
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">1</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">2</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">3</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">4</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">5</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">6</div>
                </section>
              </div>
              <pre class="highlight-code">
                <code class="html">
    &lt;div class="mui-l-grid mui-l-grid--col-6"&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
    &lt;/div&gt;
                </code>
              </pre>
            </section>

            <section class="mb-72">
              <h3>7 Column</h3>
              <div class="card">
                <section class="mui-l-grid mui-l-grid--col-7">
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">1</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">2</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">3</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">4</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">5</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">6</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">7</div>
                </section>
              </div>
              <pre class="highlight-code">
                <code class="html">
    &lt;div class="mui-l-grid mui-l-grid--col-7"&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
    &lt;/div&gt;
                </code>
              </pre>
            </section>

            <section class="mb-72">
              <h3>8 Column</h3>
              <div class="card">
                <section class="mui-l-grid mui-l-grid--col-8">
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">1</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">2</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">3</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">4</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">5</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">6</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">7</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">8</div>
                </section>
              </div>
              <pre class="highlight-code">
                <code class="html">
    &lt;div class="mui-l-grid mui-l-grid--col-8"&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
    &lt;/div&gt;
                </code>
              </pre>
            </section>

            <section class="mb-72">
              <h3>9 Column</h3>
              <div class="card">
                <section class="mui-l-grid mui-l-grid--col-9">
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">1</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">2</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">3</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">4</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">5</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">6</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">7</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">8</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">9</div>
                </section>
              </div>
              <pre class="highlight-code">
                <code class="html">
    &lt;div class="mui-l-grid mui-l-grid--col-9"&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
    &lt;/div&gt;
                </code>
              </pre>
            </section>

            <section class="mb-72">
              <h3>10 Column</h3>
              <div class="card">
                <section class="mui-l-grid mui-l-grid--col-10">
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">1</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">2</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">3</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">4</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">5</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">6</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">7</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">8</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">9</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">10</div>
                </section>
              </div>
              <pre class="highlight-code">
                <code class="html">
    &lt;div class="mui-l-grid mui-l-grid--col-10"&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
    &lt;/div&gt;
                </code>
              </pre>
            </section>

            <section class="mb-72">
              <h3>11 Column</h3>
              <div class="card">
                <section class="mui-l-grid mui-l-grid--col-11">
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">1</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">2</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">3</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">4</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">5</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">6</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">7</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">8</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">9</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">10</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">11</div>
                </section>
              </div>
              <pre class="highlight-code">
                <code class="html">
    &lt;div class="mui-l-grid mui-l-grid--col-11"&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
    &lt;/div&gt;
                </code>
              </pre>
            </section>

            <section class="mb-72">
              <h3>12 Column</h3>
              <div class="card">
                <section class="mui-l-grid mui-l-grid--col-12">
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">1</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">2</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">3</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">4</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">5</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">6</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">7</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">8</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">9</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">10</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">11</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">12</div>
                </section>
              </div>
              <pre class="highlight-code">
                <code class="html">
    &lt;div class="mui-l-grid mui-l-grid--col-12"&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
      &lt;div&gt;...&lt;/div&gt;
    &lt;/div&gt;
                </code>
              </pre>
            </section>

            <section class="mb-72">
              <h3>No Gutter</h3>
              <div class="card">
                <div class="mui-l-grid mui-l-grid--col-4 mui-l-grid--noGap">
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">1</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">2</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">3</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">4</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">5</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">6</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">7</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">8</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">9</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">10</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">11</div>
                  <div class="center darkBg whiteTxt pt-24 pb-24 nmb">12</div>
                </div>
              </div>
              <pre class="highlight-code">
                <code class="html">
    &lt;div class="mui-l-grid mui-l-grid--col-4 mui-l-grid--noGap"&gt;
      &lt;div&gt;...&lt;/div&gt;
      ...
    &lt;/div&gt;
                </code>
              </pre>
            </section>


          </article>

        </main>



        <script src="../js/vendor/umbrella.js"></script>
        <script src="../js/main.js"></script>

    </body>
</html>